Django>=5.0.1
djangorestframework>=3.14.0
django-cors-headers>=4.3.1
django-environ>=0.11.2
djoser>=2.2.2
pyyaml>=6.0.1
pandas>=2.2.0
numpy>=1.26.3
faker>=22.5.1
scipy>=1.12.0
matplotlib>=3.8.2
psycopg2-binary>=2.9.9
gunicorn>=21.2.0
drf-spectacular>=0.27.0
whitenoise
dj-database-url
python-dotenv